
/*Cambio de tamaño a los container*/
.bg-image{
  height: 700px;
  border-radius: none;
  position:relative;
  
}


.calculadora {
  padding: 20px;
  margin-left: 35%;
  height: 520px;
  width: 413px;
  background-color: #594fb6;
  border-radius: 10%;
  border: 2px solid #000000;
}

.boton{
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    justify-content: center;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #000000;
  }

.exp{
    text-decoration: none;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 6px;
    border: 6px solid #000000;
  }
